*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Arial';
	overflow-x: hidden;
}

.header-inner-content{
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	background-color: #07060e;
	padding: 1rem;
	position: sticky;
	top: 0;
	box-shadow: 10px 0 10px #2c2c2c;
	z-index: 99;
}

.navbar>div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo{
	color: #0084ff;
}

.logo span{
	color: #ffffff;
}

nav ul{
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li{
	color: #ffffff;
	margin-right: 1.5rem;
	cursor: pointer;
}

nav ul li:hover{
	transform: translateY(-5px);
	transition: all 0.3s;
	font-weight: bold;
	color: #0084ff;
}

.nav-icon-container{
	display: flex;
	align-items: center;
}

.nav-icon-container img{
	width: 30px;
	cursor: pointer;
}

.nav-icon-container img:first-child{
	margin-right: 1rem;
}

.menu-button{
	display: none;
}

header{
	background-image: radial-gradient(#ffffff, #c7c7c7);
}

.header-button-side{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.header-button-side-left{
	height: 100%;
	flex-basis: 50%;
}

.header-button-side-left h2{
	font-size: 3.2rem;
	margin-bottom: 1.5rem;
}

.header-button-side-left p{
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
}

.header-button-side-left button{
	background-color: #0084ff;
	border: none;
	cursor: pointer;
	padding: 0.8rem 3.8rem;
	border-radius: 9999px;
	color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	transition: all 0.3s
}

.header-button-side-left button:hover{
	background-color: #004c94;
}

.header-button-side-right{
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-button-side-right img{
	width: 115%;
	margin: 0 auto;
}

main{
	background-color: #ebebeb;
}

.background{
	background-color: #07060e;
}

.page-inner-content{
	max-width: 1280px;
	margin: 0 auto;
}
.cols{
	display: grid;
	justify-content: space-between;
	padding: 4rem 1rem;
}
.cols-3{
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}
.cols-3 img{
	max-width: 100%;
}
.cols-4{
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}
.cols-4 img{
	max-width: 100%;
}
.cols>*{
	cursor: pointer;
	transition: all 0.2s;
}
.cols>*:hover{
	transform: translateY(-5px);
}
.session-title{
	text-align: center;
	margin-top: 4rem;
	font-size: 1.8rem;
}
.underline{
	width: 100px;
	height: 5px;
	background: #0084ff;
	border-radius: 9999px;
	margin: 8px auto 0 auto;
}

.product{
	color: #2c2c2c;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}
.product-name{
	font-weight: 600;
	margin-top: 0.4rem;
}
.stars{
	color: #0084ff;
	font-size: 1rem;
}
.product-price{
	font-weight: 600;
}
.exclusive-container{
	color: #ffffff;
	flex-direction: row-reverse;
	padding: 5rem 1rem;
}
.exclusive-container img{
	max-width: 500px;
}
.testimonials{
	display: flex;
	padding: 1rem 1rem;
	justify-content: space-between;
}
.testimonial{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 30%;
	text-align: center;
	box-shadow: 0 0 15px #afafaf;
	padding: 1rem;
	border-radius: 1rem;
	cursor: pointer;
	transition: all 0.2s;
}
.testimonial:hover{
	transform: translateY(-5px);
}
.testimonial p{
	margin: 5px 0;
}
.testimonial p:first-child{
	font-weight: bold;
	font-size: 5rem;
	color: #0084ff;
	margin-top: 3rem;
	line-height: 2rem;
}
.testimonial p:last-child{
	font-weight: bold;
}
.footer-content{
	display: flex;
	align-items: center;
	color: #8f8f8f;
	padding: 4rem 1rem;
	gap: 2rem;
}
.download>*{
	margin: 1rem 0;
}
.download>p:first-child{
	font-weight: bold;
	color: #ffffff;
}
.download>div{
	flex-direction: column;
	display: flex;
}
.download>div img{
	width: 140px;
	margin: 0.2rem;
}
.logo-footer{
	text-align: center;
}
.logo-footer p{
	font-size: 0.8rem;
	padding-top: 0.2rem;
}
.links-footer h3{
	color: #ffffff;
	margin-bottom: 0.8rem;
}
.links-footer ul li{
	margin-bottom: 0.5rem;
	cursor: pointer;
	list-style: none;
}
.copyright{
	color: #ffffff;
	padding: 2rem 0;
	text-align: center;
}

@media (max-width: 800px){
	.logo{
		font-size: 1.2rem;
	}
	.menu-button{
		display: block;
	}
	.header-button-side{
		flex-direction: column;
		text-align: center;
		padding-top: 4rem;
	}
	nav{
		position: absolute;
		background-color: #07060e;
		width: 100%;
		top: 45px;
		display: none;
		box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
	}
	.show-menu nav{
		display: block;
	}
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		text-align: center;
		padding: 0.8rem;
	}
	.session-title{
		font-size: 1rem;
	}
	.cols-4{
		grid-template-columns: repeat(2, 1fr);
	}
	.product-name, .product-price, .stars{
		max-height: 1rem;
		font-size: 0.8rem;
	}
	.exclusive-container{
		flex-direction: column-reverse;
	}
	.exclusive-container img{
		margin-bottom: 4rem;
	}
	.testimonials{
		flex-direction: column;
	}
	.testimonial{
		margin-bottom: 1.2rem;
	}
	.footer-content{
		display: inline;
		font-size: 0.8rem;
	}
	.footer-content>div{
		padding: 1rem;
	}
	.download>div{
		display: inline;
	}
	.download>div img{
		width: 120px;
	}
	.copyright{
		font-size: 0.8rem;
	}
}
